<span data-controller="note summary-toggle" data-note-id="<%= @note.id %>">
<%= render 'shared/pulse_breadcrumb', items: [
  [@current_collective.name, @current_collective.path],
  (@note.is_comment? ? 'Comment' : 'Note')
] %>

<%= render 'shared/note_main', note: @note %>
</span>
