{$PRIMARY_SUBDOMAIN}.{$HOSTNAME} {
	reverse_proxy web:3000
}
{$AUTH_SUBDOMAIN}.{$HOSTNAME} {
	reverse_proxy web:3000
}
# Each tenant has its own subdomain
# tenant-example.{$HOSTNAME} {
# 	reverse_proxy web:3000
# }
