<div class="pulse-comments-list"
     data-comments-target="list"
     data-controller="comment-thread">
  <% if comments.any? %>
    <% comments.each do |comment| %>
      <%= render CommentComponent.new(
        comment: comment,
        show_reply_context: reply?(comment),
        current_user: @current_user,
        blocked_user_ids: helpers.blocked_user_ids,
      ) %>
    <% end %>
  <% else %>
    <p class="pulse-comments-empty">No comments yet.</p>
  <% end %>
</div>
