<%= render 'shared/tooltip' do %>
  This voting method is known as acceptance voting.
  <a href="/help/decisions#how-acceptance-voting-works" target="_blank">
    Click here to learn more.
  </a>
<% end %>