<h1>Subagent</h1>
<%= form_with url: "#{@current_user.path}/settings/subagents" do |form| %>
  <h2>Name</h2>
  <div style="margin-bottom:8px;">
    <%= form.text_field :name, placeholder: 'Name' %>
  </div>
  <div>
    <%= form.check_box :generate_token, checked: true %>
    generate an API token for this user
  </div>
  <hr style="height:1px;" />
  <%= form.submit 'Create Subagent' %>
<% end %>
