<%= render layout: 'shared/admin_user_list', locals: {
  breadcrumb_items: [
    [@current_tenant.subdomain, '/'],
    ['Admin', '/admin'],
    'Users',
  ],
  page_title: 'Users',
  intro_html: "All users in <code class=\"pulse-code\">#{@current_tenant.subdomain}.#{ENV['HOSTNAME']}</code>".html_safe,
  base_path: '/admin/users',
  search_query: @search_query,
  page: @page,
  total_pages: @total_pages,
  total_users: @total_users,
  users_by_type: @users_by_type,
  counts_by_type: @counts_by_type,
  user_path: ->(user) {
    tenant_user = user.tenant_users.find { |tu| tu.tenant_id == @current_tenant.id }
    "/legacy-admin/users/#{tenant_user&.handle}"
  },
} do |user| %>
  <% if @current_tenant.is_admin?(user) %>
    <span class="pulse-badge pulse-badge-primary">admin</span>
  <% end %>
<% end %>
