<%# Resource sidebar variant - for Note, Decision, Commitment detail pages %>
<%# Shows only studio info and back link, like the settings sidebar %>
<aside class="pulse-sidebar" data-mode="resource">
  <%= render 'pulse/sidebar_studio_info' %>

  <nav class="pulse-nav">
    <a href="<%= @current_collective.path %>" class="pulse-nav-item">
      <%= octicon 'arrow-left', height: 16 %>
      <span>Back to <%= @current_collective.collective_type.titleize %></span>
    </a>
  </nav>
</aside>
