<div class="container">
  <div class="header">
    <h1>Harmonic</h1>
  </div>

  <div class="content">
    <h2>Confirm your email address</h2>
    <p>Hi <%= @identity.name %>,</p>
    <p>Please confirm your email address to finish activating your account on <%= ENV['HOSTNAME'] %>.</p>

    <a href="<%= @confirm_url %>" class="button">Confirm email address</a>

    <p class="link-fallback">
      Or copy and paste this link into your browser:<br>
      <%= @confirm_url %>
    </p>

    <div class="details">
      This link will expire in 7 days.
    </div>
  </div>

  <div class="footer">
    <p>If you didn't create this account, you can safely ignore this email.</p>
  </div>
</div>
