<%= render 'shared/show_resource_breadcrumbs', resource: 'Cycles' %>
<h1 style="margin-top:0;">Cycles</h1>
<p>Notes are counted in the cycle that they were created in.</p>
<p>Decisions and Commitments are counted in cycles where their time window (creation date to deadline) has any overlap with the cycle. Decisions and commitments can span multiple cycles.</p>
<p>Click on the cycle names to view the counted items.</p>

<h2>Daily</h2>
<%= render 'shared/cycle_count_table', cycles: @daily_cycles %>

<h2>Weekly</h2>
<%= render 'shared/cycle_count_table', cycles: @weekly_cycles %>

<h2>Monthly</h2>
<%= render 'shared/cycle_count_table', cycles: @monthly_cycles %>