<% if false && @current_tenant.allow_file_uploads? && @current_superagent.allow_file_uploads? %>
  <% if @current_superagent.within_file_upload_limit? %>
    <div>
      <%= form.label :files, "Photos" %>
      <%= form.file_field :files, multiple: true %>
    </div>
  <% else %>
    <p>
      <%= octicon 'alert' %>
      Attachments are disabled because this studio has reached its file storage limit.
      <br/>
      Contact a studio admin to request a limit increase.
    </p>
  <% end %>
<% end %>