<nav class="pulse-create-tabs">
  <%= link_to "Note", "#{@current_collective.path}/note", class: "pulse-create-tab #{'active' if current == :note}" %>
  <%= link_to "Decision", "#{@current_collective.path}/decide", class: "pulse-create-tab #{'active' if current == :decision}" %>
  <%= link_to "Commitment", "#{@current_collective.path}/commit", class: "pulse-create-tab #{'active' if current == :commitment}" %>
</nav>
