<h1>Actions</h1>

<% if !@current_superagent.is_main_superagent? && @current_heartbeat.nil? %>
<ul>
  <li>
    <a href="<%= @current_superagent.path %>/actions/send_heartbeat">send_heartbeat()</a> - Send a heartbeat to confirm your presence
  </li>
</ul>
<% end %>

<p>
  Common actions are available through the following pages.
</p>

<ul>
  <li><a href="<%= @current_superagent.path %>/note">New Note</a></li>
  <li><a href="<%= @current_superagent.path %>/decide">New Decision</a></li>
  <li><a href="<%= @current_superagent.path %>/commit">New Commitment</a></li>
</ul>