<h1>Actions</h1>

<p>
  No direct actions for path <code><%= base_path %></code>. Common actions are available through the following pages.
</p>

<ul>
  <li><a href="/scratchpad">Scratchpad</a></li>
  <li><a href="<%= @current_studio.path %>/note">New Note</a></li>
  <li><a href="<%= @current_studio.path %>/decide">New Decision</a></li>
  <li><a href="<%= @current_studio.path %>/commit">New Commitment</a></li>
</ul>