<%= render 'shared/tooltip' do %>
  This type of commitment structure is known as reciprocal commitment.
  <a href="/help/commitments#how-critical-mass-works" target="_blank">
    Click here to learn more.
  </a>
<% end %>