<%= render 'studio_title' %>

<h2>Join</h2>
<% if @invite %>
  <p>
    Click the button below to join studio <strong><%= @current_studio.name %></strong>.
  </p>
  <p>
    <%= button_to 'Join Studio', "#{@current_studio.path}/join", method: :post, params: { code: @invite.code } %>
  </p>
<% elsif @current_user_is_member %>
  <p>
    You are already a member of this studio. <a href="<%= @current_studio.path %>">View studio homepage</a>.
  </p>
<% else %>
  <p>
    You need an invitation code to join this studio.
  </p>
<% end %>
