<%= render 'shared/pulse_breadcrumb', items: [
  [@current_collective.name, @current_collective.path],
  'Representation'
] %>

<article class="pulse-resource-detail">
  <header class="pulse-resource-header">
    <div class="pulse-resource-header-top">
      <span class="pulse-resource-type-label">
        <%= octicon 'person', height: 14, class: 'pulse-resource-icon' %>
        Representation
      </span>
    </div>
    <h1 class="pulse-resource-title">Representation</h1>
  </header>

  <div class="pulse-resource-body">
    <%= render 'index_partial' %>
  </div>
</article>
